# Data Exploration

In this notebook we'll look at one of the first elements involved in any Data Engineering project - Getting to know what the inputs might look like.

### Step 1 - What inputs do you have?

In [1]:
%%bash
ls ../data

WDICountry.csv
WDIData.csv
WDISeries.csv

### Step 2 - Get your tools setup

As part of this we will be using [PySpark](http://spark.apache.org/docs/2.1.1/api/python/index.html) to inspect the data on hand and also gather some basic details.

In [2]:
import os
from IPython.display import display, HTML
import pandas as pd

#Locating where pyspark is installed
import findspark
findspark.init()
import pyspark

#Settings for PySpark to work
driver_memory = '4g'
num_executors = 2
executor_memory = '1g'
#pyspark_submit_args = ' --driver-memory ' + driver_memory + ' --executor-memory ' + executor_memory + ' --num-executors ' + num_executors + ' pyspark-shell'
pyspark_submit_args = ' --driver-memory ' + driver_memory + ' pyspark-shell'

#Setting the required parameters to start up PySpark
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

#Import Modules Needed for PySpark
from pyspark.sql import SparkSession

In [3]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows =  20, truncate = True):
    if(truncate):
        pd.set_option('display.max_colwidth', 50)
    else:
        pd.set_option('display.max_colwidth', -1)
    pd.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pd.reset_option('display.max_rows')

In [8]:
#Creating a spark session
spark = SparkSession.builder.appName("Data Exploration").getOrCreate()

### Step 3 - Look inside your data

We need to look at how our data is composed:
1. Format
2. Structure
3. Size
4. Dimensions

In this example our input is a CSV file with a header.  Let's try to see what the data looks like

#### Read The Data

In [9]:
#Read the file into a Spark Data Frame
country = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/WDICountry.csv")

#### Inspect the schema of the file you just read

In [10]:
country.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Short Name: string (nullable = true)
 |-- Table Name: string (nullable = true)
 |-- Long Name: string (nullable = true)
 |-- 2-alpha code: string (nullable = true)
 |-- Currency Unit: string (nullable = true)
 |-- Special Notes: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Income Group: string (nullable = true)
 |-- WB-2 code: string (nullable = true)
 |-- National accounts base year: string (nullable = true)
 |-- National accounts reference year: integer (nullable = true)
 |-- SNA price valuation: string (nullable = true)
 |-- Lending category: string (nullable = true)
 |-- Other groups: string (nullable = true)
 |-- System of National Accounts: string (nullable = true)
 |-- Alternative conversion factor: string (nullable = true)
 |-- PPP survey year: string (nullable = true)
 |-- Balance of Payments Manual in use: string (nullable = true)
 |-- External debt Reporting status: string (nullable = true)
 |-- System of trade: string (nullable = true)
 |-- Government Accounting concept: string (nullable = true)
 |-- IMF data dissemination standard: string (nullable = true)
 |-- Latest population census: string (nullable = true)
 |-- Latest household survey: string (nullable = true)
 |-- Source of most recent Income and expenditure data: string (nullable = true)
 |-- Vital registration complete: string (nullable = true)
 |-- Latest agricultural census: string (nullable = true)
 |-- Latest industrial data: integer (nullable = true)
 |-- Latest trade data: integer (nullable = true)
 |-- Latest water withdrawal data: integer (nullable = true)

#### Take a look at some sample data

You can run <dataframe>.show() to look at the sample data.  However the output is not well formatted so we will use our helper function to look at the data.

In [12]:
showDF(country, limitRows = 10, truncate = True)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income,AW,...,None,Enhanced General Data Dissemination System (e-...,2010,None,None,Yes,None,NaN,2016.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2011",None,None,NaN,2016.0,2000.0
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,None,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",None,None,NaN,2016.0,2005.0
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,None,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Demographic and Health Survey, 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2016.0,2006.0
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,WB-3 code changed from ADO to AND to align wit...,Europe & Central Asia,High income,AD,...,None,None,2011. Population data compiled from administra...,None,None,Yes,None,NaN,NaN,NaN
5,ARB,Arab World,Arab World,Arab World,1A,None,Arab World aggregate. Arab World is composed o...,None,None,1A,...,None,None,None,None,None,None,None,NaN,2016.0,NaN
6,ARE,United Arab Emirates,United Arab Emirates,United Arab Emirates,AE,U.A.E. dirham,None,Middle East & North Africa,High income,AE,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2010,"World Health Survey, 2003",None,None,2012,1985.0,2016.0,2005.0
7,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,National Institute of Statistics and Census re...,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
8,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,None,Europe & Central Asia,Lower middle income,AM,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2015",Yes,2014,NaN,2016.0,2012.0
9,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,New base Year 2009,East Asia & Pacific,Upper middle income,AS,...,None,None,2010,None,None,Yes,2008,NaN,2016.0,NaN

#### Get Some Basic Stats

In [13]:
#Count the number of records in the dataframe
country.count()

263

#### Examining Dimensions
##### How many different regions do the various countries belong to ?

In [14]:
showDF(country.select('Region').distinct(), truncate = False)

                       Region
0  South Asia
1  None
2  Sub-Saharan Africa
3  Europe & Central Asia
4  North America
5  East Asia & Pacific
6  Middle East & North Africa
7  Latin America & Caribbean

##### How many different income groups do we have across countries?

In [15]:
showDF(country.select('Income Group').distinct(), truncate = False)

          Income Group
0  Lower middle income
1  None
2  High income
3  Upper middle income
4  Low income

#### By applying the same steps as we did for the "WDICountry.csv" dataset, we can see what the rest of the datasets look like

###### WDISeries.csv

In [16]:
series = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/WDISeries.csv")

In [17]:
series.printSchema()

root
 |-- Series Code: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Short definition: string (nullable = true)
 |-- Long definition: string (nullable = true)
 |-- Unit of measure: string (nullable = true)
 |-- Periodicity: string (nullable = true)
 |-- Base Period: string (nullable = true)
 |-- Other notes: string (nullable = true)
 |-- Aggregation method: string (nullable = true)
 |-- Limitations and exceptions: string (nullable = true)
 |-- Notes from original source: string (nullable = true)
 |-- General comments: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Statistical concept and methodology: string (nullable = true)
 |-- Development relevance: string (nullable = true)
 |-- Related source links: string (nullable = true)
 |-- Other web links: string (nullable = true)
 |-- Related indicators: string (nullable = true)
 |-- License Type: string (nullable = true)
 |-- _c20: string (nullable = true)

In [20]:
showDF(series, limitRows = 10)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,_c20
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",None,Agricultural machinery refers to the number of...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,None,Fertilizer consumption measures the quantity o...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",None,None,None,CC BY-4.0,None
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,None,Fertilizer consumption measures the quantity o...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",None,None,None,CC BY-4.0,None
3,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),None,Agricultural land refers to the share of land ...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
4,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),None,Agricultural land refers to the share of land ...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
5,AG.LND.ARBL.HA,Environment: Land use,Arable land (hectares),None,Arable land (in hectares) includes land define...,None,Annual,None,None,None,...,None,None,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
6,AG.LND.ARBL.HA.PC,Environment: Land use,Arable land (hectares per person),None,Arable land (hectares per person) includes lan...,None,Annual,None,None,Weighted Average,...,None,None,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers about one-third of th...,None,None,None,CC BY-4.0,None
7,AG.LND.ARBL.ZS,Environment: Land use,Arable land (% of land area),None,Arable land includes land defined by the FAO a...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
8,AG.LND.CREL.HA,Environment: Agricultural production,Land under cereal production (hectares),None,Land under cereal production refers to harvest...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...","Cereals production includes wheat, rice, maize...",The cultivation of cereals varies widely in di...,None,None,None,CC BY-4.0,None
9,AG.LND.CROP.ZS,Environment: Land use,Permanent cropland (% of land area),None,Permanent cropland is land cultivated with cro...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",The data on Permanent cropland and land area a...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None

In [19]:
series.count()

1593

#### Examining Dimensions
##### What are the different periodicities or aggregation methods we might expect to see in the data ?

In [21]:
showDF(series.select('Periodicity').distinct(), truncate = False)

                                                                                                   Periodicity
0  Annual
1  None
2  Quarterly (represented as Annual)
3  International Civil Aviation Organization, Civil Aviation Statistics of the World and ICAO staff estimates.

In [22]:
showDF(series.select('Aggregation Method').distinct(), truncate = False)

                    Aggregation Method
0  None
1  Weighted average
2  Simple average
3  Gap-filled total
4  Median
5  Unweighted average
6  Linear mixed-effect model estimates
7  Weighted Average
8  Sum

In [23]:
showDF(series.select('Topic').distinct(), truncate = False)

                                                                                              Topic
0   Education: Efficiency
1   Social Protection & Labor: Labor force structure
2   Infrastructure: Transportation
3   Economic Policy & Debt: National accounts: Local currency at constant prices: Other items
4   Environment: Density & urbanization
5   Economic Policy & Debt: External debt: Interest
6   Environment: Agricultural production
7   Economic Policy & Debt: External debt: Undisbursed debt
8   Public Sector: Policy & institutions
9   Environment: Land use
10  Economic Policy & Debt: National accounts: Local currency at current prices: Expenditure on GDP
11  Education: Participation
12  Health: Disease prevention
13  Health: Universal Health Coverage
14  Economic Policy & Debt: National accounts: Adjusted savings & income
15  Private Sector & Trade: Private infrastructure investment
16  Financial Sector: Exchange rates & prices
17  Health: Risk factors
18  Private Sector & Trade: Exports
19  Environment: Emissions

## Exercise

Repeat the same steps for the `WDIData.csv` file and read it into a dataframe called `indicators`.

In [24]:
# Read the data
indicators = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("../data/WDIData.csv")

In [25]:
# Inspect the schema
indicators.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)

In [69]:
indicators.count()

420024

In [68]:
# Look at sample records
showDF(indicators.sample(.0001))

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Poverty gap at $5.50 a day (2011 PPP) (% of po...,SI.POV.UMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,North America,NAC,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.453188e+00,9.440692e-01,1.157976e+00,1.431669e+00,1.031652e+00,1.007627e+00,9.638295e-01,3.556517e-01,3.371314e-01,None
2,Post-demographic dividend,PST,Central government debt; total (% of GDP),GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,South Asia (IDA & IBRD),TSA,Adjusted net savings; including particulate em...,NY.ADJ.SVNG.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.975165e+01,2.347880e+01,2.352232e+01,2.084954e+01,2.002280e+01,1.950514e+01,2.019086e+01,1.874313e+01,1.634986e+01,None
4,South Asia (IDA & IBRD),TSA,PPG; official creditors (DIS; current US$),DT.DIS.OFFT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,World,WLD,Currency composition of PPG debt; Pound sterli...,DT.CUR.UKPS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,Australia,AUS,Net flows on external debt; short-term (NFL; c...,DT.NFL.DSTC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,Barbados,BRB,Final consumption expenditure; etc. (constant ...,NE.CON.TETC.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.294150e+09,NaN,NaN,NaN,NaN,NaN,NaN,None
8,Benin,BEN,Coverage of social safety net programs in 3rd ...,per_sa_allsa.cov_q3_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
9,Cayman Islands,CYM,Completeness of birth registration; male (%),SP.REG.BRTH.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
10,Chad,TCD,Children in employment; unpaid family workers;...,SL.FAM.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.383000e+01,NaN,NaN,NaN,NaN,NaN,NaN,None
11,Cote d'Ivoire,CIV,Debt service on external debt; long-term (TDS;...,DT.TDS.DLXF.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.985140e+08,9.863040e+08,7.376740e+08,7.050200e+08,6.855350e+08,1.052528e+09,9.896930e+08,7.462390e+08,1.478325e+09,None
12,Curacao,CUW,Poverty gap at $3.20 a day (2011 PPP) (% of po...,SI.POV.LMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,Czech Republic,CZE,ICT service exports (% of service exports; BoP),BX.GSR.CCIS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.776893e+01,2.820779e+01,2.776754e+01,3.051088e+01,3.104809e+01,3.252150e+01,3.198670e+01,3.185795e+01,3.355738e+01,None
14,Denmark,DNK,Electricity production from oil; gas and coal ...,EG.ELC.FOSL.ZS,99.548736,99.510910,99.579084,99.665552,99.680797,99.683304,...,7.009231e+01,7.016464e+01,6.609541e+01,5.753782e+01,4.929481e+01,5.195915e+01,4.187615e+01,3.683954e+01,NaN,None
15,Guatemala,GTM,CPIA macroeconomic management rating (1=low to...,IQ.CPA.MACR.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
16,Ireland,IRL,Fixed broadband subscriptions,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,...,8.912430e+05,9.763810e+05,1.019964e+06,1.070776e+06,1.112082e+06,1.189212e+06,1.258758e+06,1.309467e+06,1.360309e+06,None
17,Kenya,KEN,Merchandise imports by the reporting economy; ...,TM.VAL.MRCH.RS.ZS,8.052885,9.206741,7.716660,9.131569,9.129412,8.958249,...,2.207764e-02,2.005576e-02,9.182625e-02,3.875601e-01,2.322298e-01,3.590678e-02,7.268878e-02,7.013565e-02,7.045988e-02,None
18,Macedonia; FYR,MKD,Poverty headcount ratio at $5.50 a day (2011 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.200000e+01,3.200000e+01,3.010000e+01,2.900000e+01,2.510000e+01,NaN,NaN,None
19,Maldives,MDV,Secondary income; other sectors; payments (BoP...,BM.TRF.PRVT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.338503e+08,2.044263e+08,2.105486e+08,2.588125e+08,2.789168e+08,2.883852e+08,3.278044e+08,3.734492e+08,6.768923e+08,None

In [63]:
# How many countries are represented?
indicators.select("Country Name").distinct().count()

264

In [27]:
# Get some basic stats
showDF(indicators.select('Indicator Name').distinct(), truncate = False)

                                                                                      Indicator Name
0   Adjusted savings: education expenditure (current US$)
1   Cause of death; by injury (% of total)
2   Completeness of infant death reporting (% of reported infant deaths to estimated infant deaths)
3   Forest area (% of land area)
4   Labor force participation rate; total (% of total population ages 15+) (modeled ILO estimate)
5   People using safely managed sanitation services (% of population)
6   People with basic handwashing facilities including soap and water; urban (% of urban population)
7   PPG; bilateral concessional (DOD; current US$)
8   Coverage of social protection and labor programs (% of population)
9   Currency composition of PPG debt; Swiss franc (%)
10  PM2.5 pollution; population exposed to levels exceeding WHO Interim Target-2 value (% of total)
11  Tariff rate; most favored nation; simple mean; primary products (%)
12  Trademark applications; direct resident
13  Air transport; passengers carried
14  Armed forces personnel (% of total labor force)
15  CPIA economic management cluster average (1=low to 6=high)
16  Gross domestic savings (% of GDP)
17  Income share held by second 20%
18  International tourism; receipts for passenger transport items (current US$)
19  Life expectancy at birth; total (years)

In [34]:
showDF(indicators.where(indicators['Indicator Name'] == 'Gross domestic savings (% of GDP)')\
       [['Country Name', '2015']])

                                     Country Name       2015
0                                      Arab World  26.888773
1                          Caribbean small states  16.363792
2                  Central Europe and the Baltics  26.095708
3                      Early-demographic dividend  24.899499
4                             East Asia & Pacific  35.196669
5     East Asia & Pacific (excluding high income)  44.804527
6      East Asia & Pacific (IDA & IBRD countries)  44.803684
7                                       Euro area  24.089543
8                           Europe & Central Asia  24.181948
9   Europe & Central Asia (excluding high income)  26.775318
10   Europe & Central Asia (IDA & IBRD countries)  26.324152
11                                 European Union  23.172214
12       Fragile and conflict affected situations  10.712738
13         Heavily indebted poor countries (HIPC)  14.177551
14                                    High income  22.474982
15                                      IBRD only  31.994338
16                               IDA & IBRD total  30.863198
17                                      IDA blend  12.912952
18                                       IDA only  14.244997
19                                      IDA total  13.627864

In [73]:
from pyspark.sql.functions import min, max, mean, sum, col, count

# Calculate average, sum, and maximum Gross domestic savings 
# (as a % of GDP) for countries in 2015
groupBy = ["Country Name"]
aggregate = ["2015"]
funcs = [mean, min, max]
exprs = [f(col(c)) for f in funcs for c in aggregate]

showDF(indicators.where(indicators['Indicator Name'] == 'Gross domestic savings (% of GDP)')\
       .agg(*exprs), truncate = False)

   avg(2015)  min(2015)  max(2015)
0  18.890471 -66.922321  64.30084

In [74]:
showDF(indicators.groupBy("Country Name").agg(count("*").alias("cnt")).filter("cnt > 1"))

                                    Country Name   cnt
0                                     South Asia  1591
1                                           Chad  1591
2                            Lower middle income  1591
3                                       Paraguay  1591
4                            Low & middle income  1591
5         Heavily indebted poor countries (HIPC)  1591
6                                          World  1591
7                                        Senegal  1591
8     East Asia & Pacific (IDA & IBRD countries)  1591
9                                     Cabo Verde  1591
10                                        Sweden  1591
11                                      Kiribati  1591
12                     Korea; Dem. People’s Rep.  1591
13                                   Korea; Rep.  1591
14  Least developed countries: UN classification  1591
15                                        Guyana  1591
16                   Pacific island small states  1591
17                                       Eritrea  1591
18                                   Philippines  1591
19                                      Djibouti  1591

In [ ]:
groupBy = ["k"]
aggregate = ["v"] 
funs = [mean, sum, max]

exprs = [f(col(c)) for f in funs for c in aggregate]

# or equivalent df.groupby(groupBy).agg(*exprs)
df.groupby(*groupBy).agg(*exprs)